// Styles for the Movie selection display
@import "_mixins.scss";

#now-playing.movie {
	.movie--poster {
		float: left;
		margin: 0 20px 0 0;
		max-height: 400px;
	}

	.movie--title {
		font-size: 30px;
	}

	.cast {
		clear: both;
	}
}
